.footer-box {
  margin-top: 20px;
  height: 250px;
  background-color: #1a1a1a;
}
.color-o {
  color: white;
}
.footer-item {
  padding-left: 80px !important;
  padding-top: 40px;
}
.title-footer {
  border-left: 3px solid #f26b38;
  padding-left: 5px;
}
